body {
    font-family: "DejaVu Serif";
    font-size: 12 px;
    margin-top:50px;
}

h3 {
    position: fixed;
    top:190px;
}

#table {
    position: fixed;
    top:260px;
    line-height: 80%;
}

.table-condensed{
    line-height: 80%;
}

#from-to {
    position: fixed;
    top:10px;
}

#from, #to{
    width: 100%;
}

#items {
    margin-top: 50px;
    margin-bottom: 50px;
    position: fixed;
    top:350px;
}

footer{
    position: fixed;
    bottom: 80px;
}


.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

.thead-default th {
    color: #55595c;
    background-color: #eceeef;
}
#additional {
    padding-bottom: 50px;
}

.narrow {
    width: 80px;
}

#items {
    width: 100%;
}